@model Post
@{
    ViewData["Title"] = "Feed";
}
<div class="container_main grid">
    <div class="posicionador_status">
        <section class="section_status">
            <div class="container_status">
                <div class="perfil_status p1">
                    <a class="link_status" href=""><img class="foto_stories" src="~/img/Usuarios/@ViewBag.Secao.Foto" alt=""></a>
                    <a href=""><span class="nomes">@ViewBag.Secao.RetornaNomeUsuario()</span></a>
                </div>
                <div class="perfil_status p2">
                    <a class="link_status" href=""><img src="~/assets/fotoStatus/gabigordo.png" alt=""></a>
                    <a href=""><span class="nomes">gabigordo</span></a>
                </div>
                <div class="perfil_status p3">
                    <a class="link_status" href=""><img src="~/assets/fotoStatus/will-baiano.png" alt=""></a>
                    <a href=""><span class="nomes">will-baiano</span></a>
                </div>
                <div class="perfil_status p4">
                    <a class="link_status" href=""><img src="~/assets/fotoStatus/tony_stark.png" alt=""></a>
                    <a href=""><span class="nomes">adrianok</span></a>
                </div>
                <div class="perfil_status p5">
                    <a class="link_status" href=""><img src="~/assets/fotoStatus/pele.png" alt=""></a>
                    <a href=""><span class="nomes">king_pele</span></a>
                </div>
                <div class="perfil_status p6">
                    <a class="link_status" href=""><img src="~/assets/fotoStatus/samuel-rosa-bebê.png" alt=""></a>
                    <a href=""><span class="nomes">samuel_rosa</span></a>
                </div>
                <div class="perfil_status p7">
                    <a class="link_status" href=""><img src="~/assets/fotoStatus/chaves_metal.png" alt=""></a>
                    <a href=""><span class="nomes">chaves_metal</span></a>
                </div>

            </div>
        </section>
        <!-- PERFIL ASIDE -->
        <aside class="perfil">
            <a class="foto_perfil" asp-area="" asp-controller="Perfil" asp-action="Index"><img class="foto_stories" src="~/img/Usuarios/@ViewBag.Secao.Foto" alt=""></a>
            <div class="texto_perfil">
                <span class="user">@ViewBag.Secao.RetornaNomeUsuario()</span>
                <span class="nome">@ViewBag.Secao.Nome</span>
            </div>
        </aside>
    </div>

    <!-- POSTAR -->
    <div class="posicionador_postar grid">
        <section class="postar">
            <div class="centralizador_postar">
                <div class="container_postar">
                    <img class="foto_stories" src="~/img/Usuarios/@ViewBag.Secao.Foto" alt="" class="postar_img">
                    <span>Postar</span>
                </div>
                <form class="form_post" method="POST" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">
                    <input class="imgdesc_input" type="text" name="TituloPost" placeholder="Digite a descrição da imagem">
                    <label class="img_input" for="file">Escolha a imagem</label>
                    <input class="none" type="file" name="Imagem" id="file">
                    <button class="btn_postar" type="submit">Postar</button>
                </form>
            </div>
        </section>
    </div>

    <!-- POST -->
    @if (ViewBag.Posts.Count == 0)
    {
        <div class="posicionador_post grid">
            <section class="post">
                <div class="posicionador_post_perfil">
                    <div class="centralizador_perfil_post">
                        <div class="perfil_post">
                            <div class="nome_perfil_post">
                                <span class="nome_post">InstaDev</span>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="post_img" src="~/assets/welcome.png" alt="">
            </section>
        </div>

    }
    else
    {
        foreach (var item in ViewBag.Posts)
        {
            <div class="posicionador_post grid">
                <section class="post">
                    <div class="posicionador_post_perfil">
                        <div class="centralizador_perfil_post">
                            <div class="perfil_post">
                                <img class="foto_perfil_post" src="~/img/Usuarios/@item.RetornaUsuario().Foto" alt="">
                                <div class="nome_perfil_post">
                                    <span class="nome_post">@item.RetornaUsuario().RetornaNomeUsuario()</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <img class="post_img" src="~/img/Posts/@item.RetornaImagem()" alt="">

                    <div class="posicionador_acoes_post">
                        <div class="centralizador_coments">
                            <div class="acoes_post">
                                <a href=""><img src="~/assets/coracaoheader.svg" alt=""></a>
                                <a href=""><img src="~/assets/coment.svg" alt=""></a>
                                <input class="comentario_input" type="text" placeholder="Comentar">
                            </div>
                            <span class="curtidas">2077 curtidas</span>
                            <div class="comentarios">
                                <span class="nome_post block">@item.RetornaUsuario().RetornaNomeUsuario()</span>
                                <span class="onde_post block comment">@item.RetornaTitulo()</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    }
    @* <div class="posicionador_post grid">
        <section class="post">
        <div class="posicionador_post_perfil">
        <div class="centralizador_perfil_post">
        <div class="perfil_post">
        <img class="foto_perfil_post" src="~/assets/fotoStatus/gabigordo.png" alt="">
        <div class="nome_perfil_post">
        <span class="nome_post">gabigordo</span>
        <span class="onde_post">Flamengo, RJ</span>
        </div>
        </div>
        </div>
        </div>

        <img class="post_img" src="~/assets/post-gabigordo.png" alt="">

        <div class="posicionador_acoes_post">
        <div class="centralizador_coments">
        <div class="acoes_post">
        <a href=""><img src="~/assets/coracao.svg" alt=""></a>
        <a href=""><img src="~/assets/coment.svg" alt=""></a>
        <input class="comentario_input" type="text" placeholder="Comentar">
        </div>
        <span class="curtidas">2077 curtidas</span>
        <div class="comentarios">
        <span class="nome_post block">gabigordo</span>
        <span class="onde_post block comment">#flamengo Amo vocês mil milhões</span>
        </div>
        </div>
        </div>
        </section>
        </div>

        <div class="posicionador_post grid">
        <section class="post">
        <div class="posicionador_post_perfil">
        <div class="centralizador_perfil_post">
        <div class="perfil_post">
        <img class="foto_perfil_post" src="~/assets/fotoStatus/gabigordo.png" alt="">
        <div class="nome_perfil_post">
        <span class="nome_post">gabigordo</span>
        <span class="onde_post">Flamengo, RJ</span>
        </div>
        </div>
        </div>
        </div>

        <img class="post_img" src="~/assets/post-gabigordo.png" alt="">

        <div class="posicionador_acoes_post">
        <div class="centralizador_coments">
        <div class="acoes_post">
        <a href=""><img src="~/assets/coracao.svg" alt=""></a>
        <a href=""><img src="~/assets/coment.svg" alt=""></a>
        <input class="comentario_input" type="text" placeholder="Comentar">
        </div>
        <span class="curtidas">2077 curtidas</span>
        <div class="comentarios">
        <span class="nome_post block">gabigordo</span>
        <span class="onde_post block comment">#flamengo Amo vocês mil milhões</span>
        </div>
        </div>
        </div>
        </section>
        </div>
        </div> *@